.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 28px;
  background: #f5f7fb;
  min-height: 100vh;
}

.manageCV {
  font-size: 42px;
  font-weight: 800;
  color: #25216b;
}

.card {
  background: #fff;
  border-radius: 24px;
  padding: 32px;
  border: 1px solid #edf0f5;
  box-shadow: 0 4px 18px rgba(15, 23, 42, 0.04);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;

  h3 {
    font-size: 32px;
    font-weight: 700;
    color: #111827;
  }
}

.uploadBtn {
  border: none;
  background: #00b14f;
  color: white;
  height: 48px;
  padding: 0 20px;
  border-radius: 14px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background: #009e47;
    transform: translateY(-2px);
  }
}

.cardBody {
  width: 100%;
}

.cvGrid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));

  gap: 28px;
  align-items: start;
}

.emptyState {
  width: 100%;
  padding: 80px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 220px;
  }

  h4 {
    margin-top: 12px;
    font-size: 28px;
    color: #111827;
  }

  p {
    margin-top: 6px;
    font-size: 16px;
    color: #6b7280;
  }
}

.emptyUploadBtn {
  margin-top: 20px;
  border: none;
  background: #00b14f;
  color: white;

  height: 52px;
  padding: 0 22px;

  border-radius: 14px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
}
