.pageWrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f4f6;
    overflow: hidden;
}

.headerSpacer {
    height: 4rem;
    /* Khoảng cách header nếu có navbar */
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}