.wrapper {
    // max-width: 700px;
    color: #111827;

    h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    a {
        color: #1a73e8;
        text-decoration: none;
    }
}

.guide {
    font-size: 14px;
    color: #4b5563;
    margin-bottom: 20px;
}


.uploadSection {
    flex: 2;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; // Cột trái to hơn
    gap: 24px
}

.sample {
    display: flex;
    flex-direction: column;
    justify-content: center; // Căn giữa theo chiều dọc
    align-items: center; // Căn giữa theo chiều ngang
    text-align: center;

    h4 {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .sampleBox {
        background: #f3f4f6;
        border: 1px dashed #cbd5e1;
        border-radius: 8px;
        padding: 50px;
        text-align: center;
        color: #9ca3af;
        font-size: 14px;
    }
}

.label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;

    span {
        color: #ef4444;
    }
}

.uploadBox {
    border: 2px dashed #cbd5e1;
    border-radius: 10px;
    background: #f9fafb;
    text-align: center;
    padding: 30px 20px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background: #f3f4f6;
    }

    p {
        font-weight: 500;
        color: #374151;
    }

    small {
        color: #6b7280;
        font-size: 13px;
    }
}

.hasFile {
    border-color: #60a5fa;
    background: #eef6ff;
}

.fileInfo {
    p {
        font-weight: 500;
        color: #111827;
    }

    small {
        color: #6b7280;
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 24px;

    button {
        padding: 8px 18px;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
    }

    .cancel {
        background: #f3f4f6;
        color: #374151;
    }

    .save {
        background: #1a73e8;
        color: #fff;
    }
}

.warning {
    background: #f5f4eb;
    color: #92400e;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.5;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px; // khoảng cách giữa icon và nội dung

    .icon {
        font-size: 18px;
        line-height: 1.3;
        margin-top: 3px; // canh giữa icon với text
    }

    .warningContent {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .warningItem {
        display: flex;
        align-items: flex-start;
        gap: 6px;

        svg {
            width: 14px;
            height: 14px;
            flex-shrink: 0;
        }
    }
}