.item {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #fff;
  margin-bottom: 12px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.viewBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #10b981;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &:hover {
    background: #0a9467;
  }
}

.delBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #ef4444;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &:hover {
    background: #c43434;
  }
}
