.card {
    background: linear-gradient(135deg, #198754, #2dc653);
    color: #fff;
    border-radius: 16px;
    padding: 22px 24px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
        font-size: 16px;
        font-weight: 600;
    }

    .subtitle {
        font-size: 13px;
        opacity: 0.9;
    }

    .value {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 26px;
        font-weight: bold;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .actions {
        display: flex;
        gap: 10px;
        margin-top: 8px;

        button {
            flex: 1;
            border: none;
            border-radius: 12px;
            padding: 10px 0;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s;
            font-size: 14px;
        }

        button:first-child {
            background: #fff;
            color: #198754;
        }

        .secondary {
            background: rgba(255, 255, 255, 0.2);
            color: #fff;
        }

        button:hover {
            transform: translateY(-2px);
        }
    }
}