.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 24px;
}

.title {
  font-size: 26px;
  font-weight: 600;
}

.deadline {
  margin: 8px 0 16px;
  font-size: 14px;
  color: #5f5f5f;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.applyBtn {
  padding: 12px 20px;
  background: #28a745;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: #fff;
    width: 450px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.select, .textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 18px 0;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    border-radius: 6px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
}

.submitBtn {
    background: #007bff;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.cancelBtn {
    background: #ccc;
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
