.card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  width: 425px;
  flex-direction: column;
  gap: 0.75rem;
  transition: 0.25s ease;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  &:hover {
    transform: translateY(-4px);
    border-color: #a5f3fc;
  }
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.favoriteBtn {
  border: none;
  background: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
  border: 1px solid #e5e7eb;

  &:hover {
    background: #f3f4f6;
  }
}

.logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f2937;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;

  .salary {
    font-weight: 600;
    color: #16a34a;
  }
  .location {
    color: #4b5563;
  }
}

.groupRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.group {
  color: #6b7280;
  font-size: 0.9rem;
}

.postDate {
  font-size: 13px;
  color: #666;
}

.statusUpdate {
  display: flex;
  color: #374151;
  font-weight: 700;

  .p {
    margin: 0;
  }

  strong {
    color: #ae1515;
  }

  .updatedAt {
    text-align: right;
  }
}
