.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 6px;

  input,
  textarea {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  textarea {
    height: 80px;
  }
}

.saveBtn {
  padding: 10px 16px;
  background: #0ab305;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: #089804;
  }
}
