.card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 24px;
    margin-bottom: 20px;
}

.header {
    margin-bottom: 16px;

    h4 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 6px;
    }
}

.level {
    color: #16a34a;
}

.highlight {
    color: #059669;
}

.verifySection {
    border-top: 1px solid #f1f1f1;
    padding-top: 12px;
}

.subTitle {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 15px;

}

.optionList {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    cursor: pointer;

    &:hover {
        background-color: #a0c8f5;
        border: 1px solid #d1d5db;
        border-radius: 3px;
    }

    input {
        margin-right: 10px;
    }

    label {
        flex: 1;
        padding-left: 8px;
    }

    .arrowWrapper {
        display: inline-flex;
        /* Quan trọng để căn giữa và chỉ chiếm đủ chỗ */
        align-items: center;
        justify-content: center;

        width: 32px;
        /* Kích thước hình tròn */
        height: 32px;
        border-radius: 50%;
        /* Tạo hình tròn */

        background-color: #e8f9f2;
        /* Nền trắng/xám nhẹ như ảnh */
        box-shadow: 0 0 0 1px #e6eef0;
        /* Viền mờ nhẹ (Optional) */

        cursor: pointer;
        transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
        /* Chuyển động mượt */


    }

    /* 2. Icon mũi tên: Chỉ định màu */
    .arrowIcon {
        font-size: 16px;
        /* Kích thước icon */
        color: #16a34a;
        /* Màu xanh lá (Giống code cũ của bạn) */

        /* Đảm bảo icon không bị biến đổi khi hover, chỉ thẻ bọc bị biến đổi */
        transition: none;
    }
}

.active {
    border-color: #16a34a;
    background: #f0fdf4;
}

.actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    button {
        display: flex;
        border: 1px solid #16a34a;
        color: #16a34a;
        padding: 6px 12px;
        border-radius: 6px;
        font-weight: 500;
        margin-top: 12px;
        background: #fff;
        cursor: pointer;
        justify-content: flex-end;
    }
}