/* Layout tổng */
.layoutContainer {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
}

/* ===========================
   SIDEBAR
=========================== */
.sidebar {
  position: fixed;
  /* chạy dưới header */
  width: 260px;
  background: #ffffff;
  z-index: 150;
  /* dưới header */
}

.sidebarCollapsed {
  width: 70px;
}

/* ===========================
   HEADER
=========================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  z-index: 200;
}

.headerCollapsed {
  left: 0;
}

/* ===========================
   MAIN CONTENT
=========================== */
.main {
  margin-left: 260px;
  padding-top: 60px;
  /* tránh header */
  padding-left: 40px;
  transition: margin-left 0.25s ease;
}

.mainCollapsed {
  margin-left: 70px;
}

.pageContainer {
  padding: 24px;
}

.sidebarCollapsed .title {
  display: none;
}