.accountWrapper {
  padding: 24px 36px; // 👉 padding cho toàn khu vực trang Account
  background-color: #f9fafb; // màu nền tổng thể (xám nhạt)
}

.accountContainer {
  display: flex;
  min-height: 600px;
  background-color: #f9fafb;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.sidebar {
  width: 300px;
  background-color: #eff6f8;
  border-right: 1px solid #ffffffe0;
  padding: 0;
}

.content {
  flex: 1; // để nó co giãn theo phần còn lại
  background-color: #ffffff;
  padding: 40px 60px;
  width: 100%; // đề phòng bị dư
  box-sizing: border-box;
}
