.home-container {
  background-color: #f6f7f8;
  min-height: 100vh;

  .top-section {
    background-image: url("../../../assets/landing_pic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    background-color: #10b981;
    border-radius: 20px;
    padding: 1rem;

    .title {
      display: grid;
      justify-content: center;
      font-size: 2rem;
      font-weight: 700;
      color: #2a04b4;
    }

    .landing-pic {
      max-width: 75%;
      margin: auto;
    }

    .search-box {
      display: flex;
      background-color: #fff;
      border: 1px solid #d1d5db;
      border-radius: 9999px;
      width: 600px;      

      padding: 0.4rem 0.75rem 0.4rem 1rem;

      input {
        border: none;
        outline: none;
        flex: 1;
        font-size: 0.95rem;
        background: transparent;
      }

      button {
        background-color: #16a34a;
        color: #fff;
        border: none;
        border-radius: 9999px;
        padding: 0.45rem 1rem;
        cursor: pointer;
        font-weight: 500;

        &:hover {
          background-color: #15803d;
        }
      }
    }
  }

  .totalJobs {
    margin: 10px 0;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }

  .jobs-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
  }

  .pagination {
    padding-top: 15px;
  }
}

