.nav-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  transition: background 0.2s ease;
  cursor: pointer;
  background-color: #2f3e52;
  border: none;
  padding: 8px 14px;
  border-radius: 999px;
  &.transparent {
    background-color: transparent;

    /* Bạn có thể đổi màu hover cho hợp với nền trong suốt nếu muốn */
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  /* Giữ nguyên hover/active cũ cho nút thường */
  &:not(.transparent):hover {
    background-color: #3f516a;
  }

  &:not(.transparent).active {
    background-color: #4b5f7d;
  }
  &:hover {
    background-color: #3f516a;
  }

  &.active {
    background-color: #4b5f7d;
  }
}

.label {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}

.nav-icon {
  width: 20px;
  height: 20px;
}
