.tooltip {
    position: absolute;
    bottom: calc(100% + 10px);
    /* nằm TRÊN card */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 8px;
    padding: 8px 12px;
    line-height: 1.4;
    white-space: normal;
    width: 240px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.25s ease;
    z-index: 10;
}

.disabled:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(-4px);
}

/* Mũi tên hướng xuống (vì tooltip nằm trên card) */
.tooltip::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}


.card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 16px 20px;
    min-height: 40px;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    &:hover {
        border-color: #00b14f;
        box-shadow: 0 3px 6px rgba(0, 177, 79, 0.08);
    }
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.iconCircle {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.iconCompleted {
    color: #00b14f;
}

.title {
    font-size: 15px;
    color: #1c1c1c;
    font-weight: 500;
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6fdf9;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    color: #00b14f;
    transition: 0.2s;

    &:hover {
        background: #e5f9ed;
    }
}

.completed {
    opacity: 0.8;

    .title {
        color: #999;
    }
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    position: relative;

    &:hover {
        border-color: #e6e6e6;
        box-shadow: none;
    }

    .linkBtn {
        background: #f2f2f2;
        color: #bbb;
        cursor: not-allowed;
    }
}