.feedbackForm {
    background: #fff;
}

h3 {
    margin-bottom: 20px;
    color: #333;
}

.span {
    display: block;
    margin-bottom: 20px;

    color: #080808;
    font-size: 18px;

    p {
        display: inline;
        font-weight: 600; // nếu bạn muốn nó nổi bật
        margin: 0; // bỏ margin mặc định của p
        color: rgb(34, 89, 240);
    }
}

.field {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

    label {
        font-weight: 600;
        margin-bottom: 6px;
    }

    select,
    textarea {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
        font-size: 14px;
        outline: none;
    }

    textarea {
        resize: vertical;
        min-height: 100px;
    }
}

.fileList {
    margin-top: 10px;
    list-style: none;
    padding: 0;

    li {
        background: #f3f4f6;
        padding: 8px 12px;
        margin-bottom: 6px;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background: transparent;
            border: none;
            color: #ef4444;
            font-size: 18px;
            cursor: pointer;
        }
    }
}

.submitBtn {
    background-color: #32c48d;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: #27b07c;
    }
}