.tabs {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: inherit;
    padding: 0px 0;
}

/* Mỗi tab (NavLink) */
.tab {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #374151;
    font-size: 15px;
    text-decoration: none;
    /* bỏ gạch chân mặc định của NavLink */
    transition: all 0.2s ease;
    cursor: pointer;
}

/* Khi NavLink đang active */
.active {
    background-color: #ffffff;
    color: #5f85ee;
    font-weight: 500;
}

/* Nếu muốn có icon sau này */
.icon {
    margin-right: 10px;
    font-size: 18px;
    color: inherit;
    display: flex;
    align-items: center;
}

.label {
    flex: 1;
    white-space: nowrap;
    font-size: 17px;
}