.searchLayout__header-search {
  /* Layout chính: Flexbox */
  display: flex;
  align-items: center;
  /* Căn giữa dọc */
  gap: 10px;
  /* Khoảng cách giữa icon và input */

  /* Style của cái khung bao ngoài */
  background-color: #ffffff;
  padding: 8px 16px;
  /* Chỉnh độ dày của thanh search tại đây */
  border-radius: 10px;
  border: 1px solid #d1d5db;
}

/* Style cho input */
.searchLayout__header-search input {
  flex: 1;

  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent;
  border-radius: 0;
  /* Style chữ */
  font-size: 14px;
  color: #333;
  padding: 0;
  margin: 0;
}

.searchLayout__header-search input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Style cho Icon Search */
.searchLayout__header-searchIcon {
  /* Xóa hết mớ position absolute cũ đi */
  color: #979595;
  flex-shrink: 0;
  /* Không cho icon bị méo khi màn hình nhỏ */
  cursor: default;
}

/* Style icon loading và close */
.searchLayout__header-loading,
.searchLayout__header-close {
  flex-shrink: 0;
  color: #979595;
}

.searchLayout__header-loading {
  animation: spin 1s linear infinite;
}

.searchLayout__header-close {
  cursor: pointer;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}