.overlay {
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999 !important;
}

.modal {
  width: 650px;
  max-height: 90vh;
  background: white;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  position: relative;
  z-index: 9999999 !important;
}

.closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.content {
  margin-top: 20px;
}
